In [2]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def question10(conn):
    '''Produce a list of facilities with a total revenue less than 1000
    '''
    print("\n Question 10 Answer: ")
    cur = conn.cursor()
#     query = """
#         SELECT name, sub.revenue
#         FROM (
#             SELECT f.name,
#                 SUM(CASE WHEN b.memid = 0 THEN b.slots*f.guestcost
#                     ELSE b.slots*f.membercost END) AS revenue
#                 FROM Facilities AS f
#                 INNER JOIN Bookings AS b
#                 USING (facid)
#                 GROUP BY name) AS sub
#         GROUP BY sub.revenue
#         HAVING sub.revenue < 1000;
#         """
    query = ''' 
    SELECT 
    f.name,
    SUM(CASE WHEN b.memid = 0 THEN b.slots*f.guestcost
        ELSE b.slots*f.membercost END) AS revenue
    FROM Facilities AS f
    INNER JOIN Bookings AS b
    USING (facid)
GROUP BY name
HAVING revenue < 1000;
    '''
    
    cur.execute(query)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def question11(conn):
    '''Produce a report of members and who recommended them in alphabetic surname,firstname order 
    '''
    print("\n Question 11 Answer: ")
    cur = conn.cursor()
    
    query = """
        SELECT sub.surname ||", "|| sub.firstname AS full_name, 
            sub.rec_by
        FROM (SELECT m.firstname,
                m.surname,
                self.surname ||", "|| self.firstname AS rec_by
            FROM Members as m
            LEFT JOIN Members as self
            ON m.recommendedby = self.memid) AS sub
        WHERE sub.rec_by IS NOT NULL
        ORDER BY full_name;
        """
    cur.execute(query)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)  

def question12(conn):
    '''Find the facilities with their usage by member, but not guests
    '''
    print("\n Question 12 Answer: ")
    cur = conn.cursor()
    
    query = """
        SELECT f.name, 
        COUNT(m.firstname || " " || m.surname)
        FROM Bookings as b
        LEFT JOIN Members as m
        ON m.memid = b.memid
        LEFT JOIN Facilities as f
        ON b.facid = f.facid
        WHERE m.memid <> 0
        GROUP BY f.name
        
        """
    cur.execute(query)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row) 
        
def question13(conn):
    '''Find the facilities usage by month, but not guests 
    '''
    print("\n Question 13 Answer: ")
    cur = conn.cursor()
    
    query = """
        SELECT f.name, 
        strftime('%m', b.starttime) AS month,
        COUNT(strftime('%m', b.starttime))
        FROM Bookings as b
        LEFT JOIN Members as m
        ON m.memid = b.memid
        LEFT JOIN Facilities as f
        ON b.facid = f.facid
        WHERE m.memid <> 0
        GROUP BY month, f.name
        
        """
    cur.execute(query)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row) 

        
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
        question10(conn)
        question11(conn)
        question12(conn)
        question13(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

 Question 10 Answer:
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

 Question 11 Answer:
('Bader, Florence', 'Stibbons, Ponder')
('Baker, Anne', 'Stibbons, Ponder')
('Baker, Timothy', 'Farrell, Jemima')
('Boothe, Tim', 'Rownam, Tim')
('Butters, Gerald', 'Smith, Darren')
('Coplin, Joan', 'Baker, Timothy')
('Crumpet, Erica', 'Smith, Tracy')
('Dare, Nancy', 'Joplette, Janice')
('Genting, Matthew', 'Butters, Gerald')
('Hunt, John', 'Purview, Millicent')
('Jones, David', 'Joplette, Janice')
('Jones, Douglas', 'Jones, David')
('Joplette, Janice', 'Smith, Darren')
('Mackenzie, Anna', 'Smith, Darren')
('Owen, Charles', 'Smith, Darren')
('Pinker, David', 'Farrell, Jemima')
('Purview, Millicent', 'Smith, Tracy')
('Rumney, Henrietta', 'Genting, Matthew')
('Sarwin, Ramnaresh', 'Bader, Florence')
('Smith, Jack', 'Smith, Darren')
('Stibbons, Ponder', 'Tracy, Burton')
('Worthington-Smyth, Henry', 'Smith, Tracy')

 Question 12 Answer:
('Badminton Court', 344)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Pool Table', 783)
('Snooker Table', 421)
('Squash Court', 195)
('Table Tennis', 385)
('Tennis Court 1', 308)
('Tennis Court 2', 276)

 Question 13 Answer:
('Badminton Court', '07', 51)
('Massage Room 1', '07', 77)
('Massage Room 2', '07', 4)
('Pool Table', '07', 103)
('Snooker Table', '07', 68)
('Squash Court', '07', 23)
('Table Tennis', '07', 48)
('Tennis Court 1', '07', 65)
('Tennis Court 2', '07', 41)
('Badminton Court', '08', 132)
('Massage Room 1', '08', 153)
('Massage Room 2', '08', 9)
('Pool Table', '08', 272)
('Snooker Table', '08', 154)
('Squash Court', '08', 85)
('Table Tennis', '08', 143)
('Tennis Court 1', '08', 111)
('Tennis Court 2', '08', 109)
('Badminton Court', '09', 161)
('Massage Room 1', '09', 191)
('Massage Room 2', '09', 14)
('Pool Table', '09', 408)
('Snooker Table', '09', 199)
('Squash Court', '09', 87)
('Table Tennis', '09', 194)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '09', 126)